@keyframes chat-loading {
    0% {
        opacity: 0;
        transform: scale(.7);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(.7);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-controls {
    to {
        opacity: .8;
    }
}

@keyframes spin-reload {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-359deg);
    }
}

@keyframes transform-reload {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(-20%);
    }
}

@keyframes fade-in-memory {
    0% {
        opacity: 0;
        transform: translateY(-30%);
    }

    100% {
        opacity: .4;
        transform: translateY(0%);
    }
}


@keyframes close-animation {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        transform: translateY(-10%);
    }
}

@keyframes dropdown {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}