@use '../components/button.scss';
@use '../components/switch.scss';
@use '../components/dropdown.scss';
@use '../components/tooltip.scss';
@use '../components/modal.scss';
@use '../components/inputfield.scss';
@use '../components/datatable.scss';
@use '../components/searchbar.scss';
@use '../pages/chat.scss';
@use './animations.scss';

html,
body {
    margin: 0;
    background: #fff;
    overflow-x: hidden;

    &.--dark {
        &::-webkit-scrollbar {
            background: #212121;
        }

        &::-webkit-scrollbar-thumb {
            background: #7c7c7c40;
        }
    }
}

* {
    // background: #212121;
    // color: lightgray;
    font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}

:root {
    // Light Mode
    --main-bg-color: #fff;
    --secondary-bg-color: #202A44;
    --terceary-bg-color: #7089AC;
    --main-color: #000;

    // Dark Mode
    --main-bg-color-dark: #212121;
    --secondary-bg-color-dark: #303030;
    --terceary-bg-color-dark: #171717;
    --main-color-dark: #D3D3D3;
}

code {
    white-space: pre-wrap !important;
    font-family: "Fira Code", "Consolas", "Monaco", "Courier New", monospace !important;
    line-height: 1.5 !important;
    border-radius: .5rem !important;
    width: 100% !important;
    overflow-wrap: anywhere !important;
    // font-style: italic;
    // background: #171717 !important;
    margin: 1rem 0 !important;
    font-size: .9rem !important;
}

code * {
    background: inherit !important;
}

pre code {
    // background: #171717 !important;
    padding: 1.5rem;
    display: block;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    -webkit-overflow-scrolling: touch;
    // max-width: 100%;
    min-width: 100px;
    font-style: normal;
    border: 1px solid #72727240;
}

code[class*="language-"],
pre[class*="language-"] {
    text-shadow: none;
    overflow: unset !important;
    color: #171717;
    max-width: -webkit-fill-available;
    background: #F4F4F4;
    position: relative;
    padding-top: 3rem;
    border-radius: .5rem;
}

.--dark code[class*="language-"],
.--dark pre[class*="language-"] {
    text-shadow: none;
    overflow: unset !important;
    color: lightgray;
    max-width: -webkit-fill-available;
    background: #171717;
    position: relative;
    padding-top: 3rem;

    ::-moz-selection {
        background: #09506795;
    }

    ::selection {
        background: #09506795;
    }
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
}

.--dark div[class*="chat__code-header"] {
    background: #2f2f2f !important;
    color: #ececec;
}

::-webkit-scrollbar {
    background: transparent;
    width: .4rem;
    // height: .4rem;
    // border-radius: .3rem;
    // background-color: black;
}

::-webkit-scrollbar-thumb {
    background: #7272724f;
    // border-radius: .2rem;
}

--dark body {
    background: #212121;
}

a {
    color: #0a7d91 !important;

    &:hover {
        color: #9c5ffd !important;
    }
}