.chat {

    & * {
        transition: .2s;
    }

    &__minimized {
        cursor: pointer;
        transition: .2s;
        place-content: center;
        display: flex;
        flex-direction: column;
        height: 68px;
        width: 68px;
        background: #222832;
        // border: 1px solid gray;
        border-radius: 50%;

        &-label {
            margin: auto;
            font-weight: bold;
            color: white;
        }

        &:hover {
            opacity: .9;
        }
    }

    &__page-container {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // place-content: center;
        // max-width: 100%;
        // height: 100vh;
        // overflow: hidden;
    }

    &__container {
        display: flex;
        flex-direction: row;
        position: relative;
        min-height: 100vh;

        &--dark {
            display: flex;
            flex-direction: row;
            position: relative;
            background: #0f1b2d;
            color: #ececec;
            min-height: 100vh;
        }
    }

    &__panel {
        position: fixed;
        top: 0;
        width: 18rem;
        height: 100vh;
        background: #0c0c0c;
        z-index: 1;
        border-radius: .8rem;

        & * {
            background: inherit;
        }

        &-ghost {
            width: 18rem;
        }

        &-form {
            margin: 1rem;
            display: flex;
            flex-direction: column;
            height: 90vh;

            &-controls {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
            }

            &-newchat {
                height: 1.3rem;
                padding: .5rem;
                border-radius: .5rem;
                cursor: pointer;

                &:hover {
                    background-color: #e7e7e7;
                }

                &--dark {
                    height: 1.3rem;
                    padding: .5rem;
                    border-radius: .5rem;
                    cursor: pointer;
                    background: transparent;
                    filter: invert(86%) sepia(0%) saturate(1740%) hue-rotate(63deg) brightness(131%) contrast(65%);

                    &:hover {
                        background-color: #ffffff75;
                    }
                }
            }
        }

        &-sessions {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            overflow: hidden;
            overflow-y: scroll;
            padding: .2rem .5rem .2rem 0;
            margin-top: 1rem;
        }

        &-session {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            border-radius: .5rem;
            transition: 0;

            &:hover .chat__panel-session-options-img {
                display: block;
            }

            &:hover .chat__panel-session-name {
                width: 80%
            }

            &:hover {
                background-color: #e7e7e7;
            }

            &--dark {
                display: flex;
                flex-direction: row;
                cursor: pointer;
                border-radius: .5rem;

                &:hover .chat__panel-session-options-img {
                    display: block;
                }

                &:hover .chat__panel-session-name {
                    width: 80%
                }

                &:hover {
                    background-color: #1f1f1f;
                }
            }

            &-item {
                display: flex;
                flex-direction: row;
                transition: .1s;
                border-radius: .5rem;
                position: relative;
                width: 100%;
            }

            &-options {
                position: absolute;
                background-color: #dadada;
                top: 1rem;
                right: -5rem;
                height: fit-content;
                z-index: 3;
                border-radius: .5rem;
                overflow: hidden;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.189);
                border: 1px solid #e0e0e0;
                opacity: 0;
                animation: fade-in .1s ease-in forwards;

                &--dark {
                    position: absolute;
                    background-color: #2d2d2d;
                    top: 1rem;
                    right: -5rem;
                    height: fit-content;
                    z-index: 3;
                    border-radius: .5rem;
                    overflow: hidden;
                    border: 1px solid #444444;
                    opacity: 0;
                    animation: fade-in .1s ease-in forwards;
                }

                &-img {
                    display: none;
                    position: absolute;
                    height: 1rem;
                    right: .8rem;
                    top: .5rem;
                    transition: 0;

                    &:hover {
                        opacity: .8;
                    }
                }
            }

            &-option {
                background: #fff;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;

                &--dark {
                    background: #353535;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    cursor: pointer;

                    &:hover {
                        background: #424242;
                    }
                }

                &:hover {
                    background: #ededed;
                }

                &-img {
                    height: 1rem;
                    width: 1rem;
                    padding: 0 0 0 1rem;
                }

                &-text {
                    margin: 0;
                    padding: 1rem 1rem 1rem .5rem;
                    font-size: .9rem;
                }
            }

            &-rename {
                border: none;
                color: inherit;
                padding: .5rem;
                outline: none;
                border-radius: .5rem;

                &:focus {
                    border: none;
                }
            }

            &-name {
                margin: .5rem;
                font-size: .9rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &-age {
                font-size: .75rem;
                font-weight: bold;
                margin: 2rem 0 .5rem .5rem;
            }
        }

        &-hp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: .5rem 1.2rem;

            &-new {
                cursor: pointer;
                transition: .2s;
                font-size: .9rem;

                &:hover {
                    opacity: .7;
                }
            }


            &-title {
                font-size: 1.5rem;
                margin: 0;
            }

            &-controls {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 1.5rem;
            }

            &-svg {
                height: 1.2rem;
                cursor: pointer;
                transition: .2s;
                background-color: transparent;

                &:hover {
                    opacity: .5;
                }

                &--dark {
                    height: 1.2rem;
                    cursor: pointer;
                    transition: .2s;
                    background-color: transparent;
                    filter: invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);

                    &:hover {
                        opacity: .5;
                    }
                }
            }
        }

        &-prompt {

            &-title {
                margin: 0 0 .3rem 0;
                font-size: .9rem;
            }

            &-input {
                width: -webkit-fill-available;
                resize: none;
                border: none;
                outline: none;
                border-radius: .5rem;
                background: rgb(243, 243, 243);
                padding: .5rem;
                font-size: .9rem;

                &--dark {
                    width: -webkit-fill-available;
                    resize: none;
                    border: none;
                    outline: none;
                    border-radius: .5rem;
                    background: #2F2F2F;
                    padding: .5rem;
                    font-size: .9rem;
                    color: lightgray;
                }

                &::placeholder {}
            }
        }

        &-switches {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        &-version {
            margin: 0;
            width: 100%;
            height: 5vh;
            place-content: center;
            text-align: center;
            opacity: .4;
            font-size: .9rem;
            cursor: default;
            user-select: none;
        }

    }

    &__file {
        &-title {
            font-size: .9rem;
            margin-bottom: .3rem;
        }

        &-list {
            display: flex;
            flex-direction: column;
            border-radius: .5rem;
            overflow: hidden;

            & * {
                background: inherit;
            }

            &-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 0 .5rem;
                cursor: default;

                &:hover {
                    opacity: .8;

                    & * {
                        background: inherit;
                    }
                }
            }
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 800px;
        max-width: 60vw;
        height: 100%;
        position: relative;
    }

    &__banner {
        &-message {
            padding: 1rem;
            text-align: center;
            border: 1px solid orange;
            border-radius: 1rem;
            position: fixed;
            z-index: 4;
            top: 2rem;
            right: 0;
            transform: rotate(40deg);
            color: orange;
        }
    }

    &__output {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100%;
        width: 100%;
        max-width: 60vw;
        position: relative;
        margin: 0 auto 6rem auto;
    }

    &__box {
        display: flex;
        flex-direction: column;
        width: 100%;

        &-list {
            width: 100%;
            margin-bottom: 2rem;
        }

        &-hi {
            font-size: 1.8rem;
            font-weight: bold;
            text-align: center;
            transition: .5s;
        }
    }


    &__message {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 2rem 0;
        gap: 2rem;
        width: 100%;

        &-assistant {
            justify-content: flex-start;
        }

        &-completion {
            margin-bottom: 3rem;
        }

        &-loading {
            animation: chat-loading 1.2s infinite;
        }

        &-avatar {
            width: 2rem;
            height: 2rem;
            background: transparent;

            &--dark {
                width: 2rem;
                height: 2rem;
                background: transparent;
                filter: invert(88%) sepia(0%) saturate(46%) hue-rotate(166deg) brightness(92%) contrast(106%);
            }
        }

        &-bubble {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            width: fit-content;
            max-width: 80%;

            &-assistant {
                max-width: 100%;
                width: 100%;
            }
        }

        &-content {
            justify-self: flex-end;
            padding: .5rem 1.25rem;
            border-radius: 1.25rem;
            line-height: 1.75;
            font-size: 14px;
            background: #ededed;

            &>* {
                background: inherit;
                margin: 0;
            }

            &--dark {
                justify-self: flex-end;
                padding: .5rem 1.25rem;
                border-radius: 1.25rem;
                line-height: 1.75;
                font-size: 14px;
                background: #2F2F2F;

                &>* {
                    background: inherit;
                    margin: 0;
                }
            }

            &-assistant {
                background: transparent;
                max-width: unset;
                padding: 0;
                justify-self: flex-start;
                line-height: 1.75;
                font-size: 14px;

                &>* {
                    background: inherit;
                    margin: 0;
                    max-width: 100%;
                }
            }
        }

        &-copy {
            cursor: pointer;
            transition: .1s;
            height: 1.1rem;
            padding: .4rem .2rem;
            border-radius: .5rem;
            opacity: .8;

            &:hover {
                background: #e7e7e7;
            }

            &--dark {
                cursor: pointer;
                transition: .1s;
                height: 1.1rem;
                padding: .4rem .2rem;
                border-radius: .5rem;
                opacity: .8;

                &:hover {
                    background: #323232;
                }
            }
        }

        &-controls {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &-memory {
            width: 100%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.574);
            opacity: .8;
            padding: .2rem;
            text-align: center;
            font-size: .9rem;
            opacity: .4;
            animation: fade-in-memory .5s ease-in forwards;
            user-select: none;

            &--dark {
                width: 100%;
                border-bottom: 1px solid rgb(147 147 147 / 57%);
                opacity: .8;
                padding: .2rem;
                text-align: center;
                font-size: .9rem;
                opacity: .4;
                animation: fade-in-memory .5s ease-in forwards;
                user-select: none;
            }

            &-empty {
                width: 100%;
                opacity: .4;
                padding-bottom: .2rem;
                position: absolute;
                top: -2.5rem;
                text-align: center;
                animation: fade-in-memory .5s ease-in forwards;
                user-select: none;
            }
        }
    }

    &__code-header {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 2rem;
        padding-top: .2rem;
        z-index: 1;
        justify-content: space-between;

        &-language {
            margin-left: 1rem;
            color: gray;
        }

        &-copy {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 1rem;
            gap: .1rem;
            cursor: pointer;
            transition: .1s;

            &:hover {
                opacity: .7;
            }

            &-text {
                font-size: .8rem;
                color: gray;
            }

            &-svg {
                height: 1.2rem;
                color: gray;
            }

            &--dark {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 1rem;
                gap: .1rem;
                cursor: pointer;
                transition: .1s;

                &:hover {
                    opacity: .7;
                }

                &-text {
                    font-size: .8rem;
                    color: gray;
                }

                &-svg {
                    height: 1.2rem;
                    color: gray;
                }
            }
        }

    }

    &__form {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 1.5rem;
        height: fit-content;
        border: 1px solid #e3e3e3;
        box-shadow: 0 3px 7px #d3d3d37d;

        &--dark {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: #2F2F2F;
            border-radius: 1.5rem;
            height: fit-content;

        }

        &-container {
            position: fixed;
            bottom: 0;
            padding-bottom: 2rem;
            width: 800px;
            max-width: 60vw;
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
            background: white;
            z-index: 1;

            &--dark {
                background: #0f1b2d;
                position: fixed;
                bottom: 0;
                padding-bottom: 2rem;
                width: 800px;
                max-width: 90vw;
                border-top-left-radius: 2rem;
                border-top-right-radius: 2rem;
                z-index: 1;
            }
        }

        &-input {
            border: none;
            outline: none;
            background: transparent;
            box-sizing: border-box;
            resize: none;
            font-size: 1rem;
            padding: 1rem 0;
            width: 100%;
            max-height: 40vh;

            &--dark {
                border: none;
                outline: none;
                background: transparent;
                box-sizing: border-box;
                resize: none;
                font-size: 1rem;
                padding: 1rem 0;
                width: 100%;
                max-height: 40vh;
                color: lightgray;
            }
        }

        &-attachment {
            background: transparent;

            &-svg {
                cursor: pointer;
                margin: .8rem;
                height: 1.5rem;
                background: transparent;
                width: fit-content;
                transition: .1s;

                &:hover {
                    opacity: .6;
                }

                &--dark {
                    cursor: pointer;
                    margin: .8rem;
                    height: 1.5rem;
                    background: transparent;
                    width: fit-content;
                    filter: invert(88%) sepia(0%) saturate(46%) hue-rotate(166deg) brightness(92%) contrast(106%);
                    transition: .1s;

                    &:hover {
                        filter: invert(88%) sepia(0%) saturate(46%) hue-rotate(166deg) brightness(110%) contrast(106%);
                    }
                }
            }
        }

        &-send {
            border-radius: 50%;
            margin: 0 .6rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            height: 2rem;
            width: 2rem;
            background: lightgray;

            &:hover {
                opacity: .8;
            }

            &-svg {
                background: transparent;

                &-reload {
                    width: 25px;
                    height: 25px;
                    filter: invert(58%) sepia(0%) saturate(0%) hue-rotate(145deg) brightness(1) contrast(89%);

                    &--dark {
                        width: 25px;
                        height: 25px;
                        filter: invert(58%) sepia(0%) saturate(0%) hue-rotate(145deg) brightness(1) contrast(89%);
                    }
                }
            }
        }
    }

    &__feedback {
        &-content {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

            &-user {
                background: rgb(228, 228, 228);
                width: fit-content;
                padding: 0 1.25rem;
                border-radius: 1.25rem;
                align-self: flex-end;
                margin: 0 0 1rem 0;
                font-size: 14px;
                line-height: 1.75;

                &--dark {
                    background: #2F2F2F;
                    width: fit-content;
                    padding: 0 1.25rem;
                    border-radius: 1.25rem;
                    align-self: flex-end;
                    margin: 0 0 1rem 0;
                    font-size: 14px;
                    line-height: 1.75;
                }
            }

            &-assistant {
                border: 1px solid red;
                width: fit-content;
                padding: 0 .5rem;
                border-radius: 1rem;
                align-self: flex-start;
                width: 80%;
                font-size: 14px;
                line-height: 1.75;

                &--dark {
                    border: 1px solid red;
                    width: fit-content;
                    padding: .5rem;
                    border-radius: 1rem;
                    align-self: flex-start;
                    width: 80%;
                    font-size: 14px;
                    line-height: 1.75;
                }
            }
        }

        &-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            margin: 1rem 0 0;
        }
    }

    &__admin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem 1rem 10rem;

        &-row {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }

        &-session {
            width: 45%;
            box-shadow: 0 3px 10px #d3d3d3af;
            padding: 1rem;
            border-radius: .5rem;

            &--dark {
                width: 45%;
                background-color: gray;
                padding: 1rem;
                border-radius: .5rem;
            }
        }

        &-comment {
            padding: 1rem;
            // background-color: #72727228;
            color: rgb(185, 121, 2);
            border-radius: .5rem;
            width: fit-content;
            margin: 0;
        }

        &-review {
            &-buttons {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-end;
                gap: 1rem;
                margin: 2rem 0 0;
                width: 100%;
            }
        }

        &-delete {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            padding: 1rem;
            margin: auto;
            box-shadow: 0 3px 10px #d3d3d3af;
            border-radius: .5rem;

            &-buttons {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-evenly;
                margin: 1rem 0 0;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .chat {
        &__container {
            flex-direction: column;

            &--dark {
                flex-direction: column;
            }
        }

        &__main {
            min-height: -webkit-fill-ava;
            padding-top: 15vh;
            width: 100%;
            max-width: 100%;
        }

        &__form {
            &-container {
                margin: 0 2rem -1px;
                max-width: 90vw;
            }
        }

        &__output {
            max-width: 90vw;
        }

        &__panel {
            width: 100vw;
            position: fixed;
            height: 15vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: -1px;
            border-radius: 0;

            &-sessions {
                margin-top: 0;
            }

            &-ghost {
                display: none;
            }

            &-prompt {
                width: 100%;
            }

            &-switches {
                justify-content: space-between;
                width: 100%;
            }

            &-version {
                bottom: .5rem;
                z-index: 2;
                position: fixed;
                height: fit-content;
            }
        }

        &__file {
            &-list {
                &-ingested {
                    width: 100%;
                }
            }
        }

        &__message {
            gap: 1rem;

            &-bubble {
                &-assistant {
                    max-width: unset;
                }
            }

            &-avatar {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

    }
}